/* Tab Content - menucool.com */
ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border-bottom: 3px solid #DEEDC0;
    border-radius: 0%;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-4px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 24px "Titillium Web", sans-serif;
    font-weight:400;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border-right: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-radius: 5%;
    color: #F2FAE1;
    background: #A0C35C;
    outline:none;
} 
       
ul.tabs li:last-child a
{
    border-right:none;
}
ul.tabs li:first-child a
{
    border-left:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    text-decoration: none;
    color:#212121;
}

ul.tabs li.selected {
    bottom:-2px;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font: normal 28px "Titillium Web", sans-serif;
    font-weight:600;
    /*font-weight:bold;*/
    background: #8DB545;
    color:White;
    border-top: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-right: 3px solid #DEEDC0;
    border-bottom: 3px solid #8DB545;
    z-index:2;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border-top: 3px solid #8DB545;
    padding: 30px;
    background-color: #8DB545;
}
#drugi {
    width: 100%;
}
#map-input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
/*.opisTabora{
	color:white;
	font-size: 20px;
	text-align: left;
	font-family: "Titillium Web", sans-serif;
}
e.doktore{
	font-weight: 900;
	font-size: 30px;
}
#map-input{
	color:white;
	font-size: 30px;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
}*/