/* Tab Content - menucool.com */

/* TABI - TABOR */
#drugi ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border-bottom: 3px solid #DEEDC0;
    border-radius: 0%;
}
        
#drugi ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-4px; /*distance between tabs*/
}
        
#drugi ul.tabs li a
{
    font: normal 24px "Titillium Web", sans-serif;
    font-weight:400;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border-right: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-radius: 5%;
    color: #F2FAE1;
    background: #A0C35C;
    outline:none;
}
@media (max-width: 767px) {
    #drugi ul.tabs li a{
        width:100%;
        display: inline-block;
        border-right: none;
        border-left: none;
    }
}
       
#drugi ul.tabs li:last-child a
{
    border-right:none;
}
#drugi ul.tabs li:first-child a
{
    border-left:none;
}
        
#drugi ul.tabs li a:visited
{
    color: #000;
}
        
#drugi ul.tabs li a:hover
{
    text-decoration: none;
    color:#212121;
}

#drugi ul.tabs li.selected {
    bottom:-2px;
}
        
#drugi ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font: normal 28px "Titillium Web", sans-serif;
    font-weight:600;
    /*font-weight:bold;*/
    background: #8CAD4E;
    color:White;
    border-top: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-right: 3px solid #DEEDC0;
    border-bottom: 3px solid #8CAD4E;
    z-index:2;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
        
    
#drugi ul.tabs li.selected a:hover
{
    text-decoration: none;
    /*background: #8CAD4E;*/
}

#drugi div.tabcontents
{
    border-top: 3px solid #8CAD4E;
    padding: 30px;
    background-color: #8CAD4E;
}
#drugi {
    width: 100%;
}
#map-input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
/*.opisTabora{
	color:white;
	font-size: 20px;
	text-align: left;
	font-family: "Titillium Web", sans-serif;
}
e.doktore{
	font-weight: 900;
	font-size: 30px;
}
#map-input{
	color:white;
	font-size: 30px;
	text-align: center;
	font-family: "Titillium Web", sans-serif;
}*/

/* TABI - ZDRAVJE */

#tretji ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border-bottom: 3px solid #EDE0C0;
    border-radius: 0%;
}
        
#tretji ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-4px; /*distance between tabs*/
}
        
#tretji ul.tabs li a
{
    font: normal 24px "Titillium Web", sans-serif;
    font-weight:400;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border-right: 3px solid #EDE0C0;
    border-left: 3px solid #EDE0C0;
    border-radius: 5%;
    color: #F2FAE1;
    background: #EBB260;
    outline:none;
}
@media (max-width: 767px) {
    #tretji ul.tabs li a{
        width:100%;
        display: inline-block;
        border-right: none;
        border-left: none;
    }
}
       
#tretji ul.tabs li:last-child a
{
    border-right:none;
}
#tretji ul.tabs li:first-child a
{
    border-left:none;
}
        
#tretji ul.tabs li a:visited
{
    color: #000;
}
        
#tretji ul.tabs li a:hover
{
    text-decoration: none;
    color:#212121;
}

#tretji ul.tabs li.selected {
    bottom:-2px;
}
        
#tretji ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font: normal 28px "Titillium Web", sans-serif;
    font-weight:600;
    /*font-weight:bold;*/
    background: #DE952C;
    color:White;
    border-top: 3px solid #EDE0C0;
    border-left: 3px solid #EDE0C0;
    border-right: 3px solid #EDE0C0;
    border-bottom: 3px solid #DE952C;
    z-index:2;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
        
        
#tretji ul.tabs li.selected a:hover
{
    text-decoration: none;
}

#tretji div.tabcontents
{
    border-top: 3px solid #DE952C;
    padding: 30px;
    background-color: #DE952C;
}

#tretji .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 17px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    border: 3px solid #EDE0C0;
    background: #EBB260;
    
}

#tretji .dropdown:hover .dropdown-menu li a {
    border: none;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5%;
}
/*
#tretji .dropdown:hover .dropdown-menu li:nth-child(2) a {
    border-bottom: 3px dotted #EDE0C0;
    border-radius: 0;
}*/
#tretji .dropdown:hover .dropdown-menu li:hover a {
    color: #5C4D34;
}
#tretji hr {
    width: 90%;
    display: block; 
    border: 0; border-top: 2px solid #EDE0C0;
    margin-top:3px;
    margin-bottom: 0;
    position: relative;
}

/* TABI - DRUSTVO */

#cetrti ul.tabs
{
    padding: 8px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    border-bottom: 3px solid #DEEDC0;
    border-radius: 0%;
}
        
#cetrti ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:-4px; /*distance between tabs*/
}
        
#cetrti ul.tabs li a
{
    font: normal 24px "Titillium Web", sans-serif;
    font-weight:400;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border-right: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-radius: 5%;
    color: #F2FAE1;
    background: #A6BD79;
    outline:none;
}
@media (max-width: 767px) {
    #cetrti ul.tabs li a{
        width:100%;
        display: inline-block;
        border-right: none;
        border-left: none;
    }
}

#cetrti ul.tabs li:last-child a
{
    border-right:none;
}
#cetrti ul.tabs li:first-child a
{
    border-left:none;
}
        
#cetrti ul.tabs li a:visited
{
    color: #000;
}
        
#cetrti ul.tabs li a:hover
{
    text-decoration: none;
    color:#212121;
}

#cetrti ul.tabs li.selected {
    bottom:-2px;
}
        
#cetrti ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font: normal 28px "Titillium Web", sans-serif;
    font-weight:600;
    /*font-weight:bold;*/
    background: #98B362;
    color:White;
    border-top: 3px solid #DEEDC0;
    border-left: 3px solid #DEEDC0;
    border-right: 3px solid #DEEDC0;
    border-bottom: 3px solid #98B362;
    z-index:2;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
        
    
#cetrti ul.tabs li.selected a:hover
{
    text-decoration: none;
    /*background: #98B362;*/
}

#cetrti div.tabcontents
{
    border-top: 3px solid #98B362;
    padding: 30px;
    background-color: #98B362;
}